In [3]:
import pandas as pd

In [7]:
df = pd.read_csv('data/all_seasons_ready.csv')

In [8]:
df.head()

,season,match_name,h_odd,d_odd,a_odd,home_team,away_team,home_score,away_score,winner
0,2004,Birmingham vs Arsenal,4.01,3.40,1.80,Birmingham,Arsenal,2,1,HOME_TEAM
1,2004,Bolton vs Everton,1.85,3.34,3.98,Bolton,Everton,3,2,HOME_TEAM
2,2004,Charlton vs Crystal Palace,2.64,3.45,2.34,Charlton,Crystal Palace,2,2,DRAW
3,2004,Fulham vs Norwich,2.66,3.43,2.36,Fulham,Norwich,6,0,HOME_TEAM
4,2004,Liverpool vs Aston Villa,1.63,3.41,5.33,Liverpool,Aston Villa,2,1,HOME_TEAM