In [214]:
# Script to combine multiple seasons df into one df
import seaborn as sns
import pandas as pd
import os
from glob import glob

# Step 1: Point to the folder with all your CSVs
data_folder = "../data"
csv_files = sorted(glob(os.path.join(data_folder, "*_full.csv")))

# Step 2: Combine all CSVs
all_data = []
for file in csv_files:
    df = pd.read_csv(file)
    df['source_file'] = os.path.basename(file)  # optional: track file of origin
    all_data.append(df)

combined_df = pd.concat(all_data, ignore_index=True)

# Step 3: Save the combined file
combined_df.to_csv("../data/all_seasons_combined.csv", index=False)

In [215]:
# script to clean the data


# Load the full dataset
df = pd.read_csv("../data/all_seasons_combined.csv")

# 1. Drop 'date' and 'source_file'
df.drop(columns=["date", "source_file"], inplace=True, errors='ignore')

# 2. Convert odds to float
for col in ["h_odd", "d_odd", "a_odd"]:
    df[col] = pd.to_numeric(df[col], errors="coerce")

# 3. Extract starting year of season
df['season'] = df['season'].str[:4]

# 4. Split match_name
df[['home_team', 'away_team']] = df['match_name'].str.split(" vs ", expand=True)

# 5. Split result into home/away score
df[['home_score', 'away_score']] = df['result'].str.split("-", expand=True).astype("Int64")

# 6. Determine winner
def get_winner(row):
    if pd.isnull(row['home_score']) or pd.isnull(row['away_score']):
        return "UNKNOWN"
    elif row['home_score'] > row['away_score']:
        return "HOME_TEAM"
    elif row['home_score'] < row['away_score']:
        return "AWAY_TEAM"
    else:
        return "DRAW"

df['winner'] = df.apply(get_winner, axis=1)

# 7. Save cleaned version
df.to_csv("../data/all_seasons_cleaned.csv", index=False)

In [216]:
# script for more cleaning and feature engineering of data

# Load cleaned data from previous step
df = pd.read_csv("../data/all_seasons_cleaned.csv")

# Drop the 'result' column (no longer needed)
df.drop(columns=['result'], inplace=True, errors='ignore')

# Convert American odds to Decimal odds
def american_to_decimal(odd):
    if pd.isnull(odd):
        return None
    try:
        odd = float(odd)
        if odd > 0:
            return round(1 + odd / 100, 2)
        else:
            return round(1 + 100 / abs(odd), 2)
    except:
        return None

for col in ['h_odd', 'd_odd', 'a_odd']:
    df[col] = df[col].apply(american_to_decimal)

# Save updated DataFrame
df.to_csv("../data/all_seasons_ready.csv", index=False)

In [217]:
import pandas as pd
import numpy as np

# If not already loaded
df = pd.read_csv("../data/all_seasons_ready.csv")  # If you are inside /notebooks folder

# Basic helper to calculate points from a match
def get_points(home_goals, away_goals):
    if home_goals > away_goals:
        return 3, 0
    elif home_goals < away_goals:
        return 0, 3
    else:
        return 1, 1

# Helper to update form streaks (win/draw/loss)
def update_streak(result, streaks):
    if result == "W":
        return (streaks[0] + 1, 0, 0)  # (win, draw, loss)
    elif result == "D":
        return (0, streaks[1] + 1, 0)
    else:
        return (0, 0, streaks[2] + 1)

In [218]:
# Initialize history trackers
team_history = {}

# Placeholder for final feature-engineered rows
engineered_rows = []

In [219]:
# Create features across matches
for idx, row in df.iterrows():
    season = int(row['season'])
    home = row['home_team']
    away = row['away_team']

    # Initialize teams if not seen before
    for team in [home, away]:
        if team not in team_history:
            team_history[team] = {
                "matches": [],  # (season, goals_for, goals_against, points)
                "last_season_rank": None,
            }

    # Get last season ranks
    ht_ls_rank = team_history[home]["last_season_rank"] if team_history[home]["last_season_rank"] else 10  # Assume middle rank if missing
    at_ls_rank = team_history[away]["last_season_rank"] if team_history[away]["last_season_rank"] else 10

    # Calculate rolling features for home
    ht_recent = [m for m in team_history[home]["matches"] if m[0] == season][-5:]  # Last 5 matches this season
    if ht_recent:
        ht_l_points = sum(m[3] for m in ht_recent)
        ht_l_goals = sum(m[1] for m in ht_recent)
        ht_l_goals_sf = sum(m[2] for m in ht_recent)
        ht_l_wavg_points = sum(m[3]*(i+1) for i, m in enumerate(reversed(ht_recent))) / sum(i+1 for i in range(len(ht_recent)))
        ht_l_wavg_goals = sum(m[1]*(i+1) for i, m in enumerate(reversed(ht_recent))) / sum(i+1 for i in range(len(ht_recent)))
        ht_l_wavg_goals_sf = sum(m[2]*(i+1) for i, m in enumerate(reversed(ht_recent))) / sum(i+1 for i in range(len(ht_recent)))
    else:
        ht_l_points = ht_l_goals = ht_l_goals_sf = ht_l_wavg_points = ht_l_wavg_goals = ht_l_wavg_goals_sf = 0

    # Calculate rolling features for away
    at_recent = [m for m in team_history[away]["matches"] if m[0] == season][-5:]
    if at_recent:
        at_l_points = sum(m[3] for m in at_recent)
        at_l_goals = sum(m[1] for m in at_recent)
        at_l_goals_sf = sum(m[2] for m in at_recent)
        at_l_wavg_points = sum(m[3]*(i+1) for i, m in enumerate(reversed(at_recent))) / sum(i+1 for i in range(len(at_recent)))
        at_l_wavg_goals = sum(m[1]*(i+1) for i, m in enumerate(reversed(at_recent))) / sum(i+1 for i in range(len(at_recent)))
        at_l_wavg_goals_sf = sum(m[2]*(i+1) for i, m in enumerate(reversed(at_recent))) / sum(i+1 for i in range(len(at_recent)))
    else:
        at_l_points = at_l_goals = at_l_goals_sf = at_l_wavg_points = at_l_wavg_goals = at_l_wavg_goals_sf = 0

    engineered_rows.append({
        "season": season,
        "match_name": row['match_name'],
        "home_team": home,
        "away_team": away,
        "winner": row['winner'],
        "home_score": row['home_score'],
        "away_score": row['away_score'],
        "h_odd": row['h_odd'],
        "d_odd": row['d_odd'],
        "a_odd": row['a_odd'],

        # New engineered features:
        "ht_ls_rank": ht_ls_rank,
        "at_ls_rank": at_ls_rank,
        "ht_l_points": ht_l_points,
        "ht_l_goals": ht_l_goals,
        "ht_l_goals_sf": ht_l_goals_sf,
        "ht_l_wavg_points": ht_l_wavg_points,
        "ht_l_wavg_goals": ht_l_wavg_goals,
        "ht_l_wavg_goals_sf": ht_l_wavg_goals_sf,
        "at_l_points": at_l_points,
        "at_l_goals": at_l_goals,
        "at_l_goals_sf": at_l_goals_sf,
        "at_l_wavg_points": at_l_wavg_points,
        "at_l_wavg_goals": at_l_wavg_goals,
        "at_l_wavg_goals_sf": at_l_wavg_goals_sf,
    })

    # Update team histories with current match result
    home_goals = row['home_score']
    away_goals = row['away_score']

    # Calculate points
    if home_goals > away_goals:
        h_pts, a_pts = 3, 0
    elif home_goals < away_goals:
        h_pts, a_pts = 0, 3
    else:
        h_pts, a_pts = 1, 1

    team_history[home]["matches"].append((season, home_goals, away_goals, h_pts))
    team_history[away]["matches"].append((season, away_goals, home_goals, a_pts))

    # (Optional) If end of season, simulate assigning last season rank
    if idx+1 < len(df) and df.iloc[idx+1]['season'] != row['season']:
        # Sort teams by points for last season rank (very basic)
        points_table = [(team, sum(m[3] for m in history["matches"] if m[0]==season)) for team, history in team_history.items()]
        points_table.sort(key=lambda x: x[1], reverse=True)
        for rank, (team, _) in enumerate(points_table, 1):
            team_history[team]["last_season_rank"] = rank

In [220]:
# Create final feature DataFrame
final_feature_df = pd.DataFrame(engineered_rows)
final_feature_df.head()

,season,match_name,home_team,away_team,winner,home_score,away_score,h_odd,d_odd,a_odd,...,ht_l_goals_sf,ht_l_wavg_points,ht_l_wavg_goals,ht_l_wavg_goals_sf,at_l_points,at_l_goals,at_l_goals_sf,at_l_wavg_points,at_l_wavg_goals,at_l_wavg_goals_sf
0,2004,Birmingham vs Arsenal,Birmingham,Arsenal,HOME_TEAM,2,1,4.01,3.40,1.80,...,0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0
1,2004,Bolton vs Everton,Bolton,Everton,HOME_TEAM,3,2,1.85,3.34,3.98,...,0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0
2,2004,Charlton vs Crystal Palace,Charlton,Crystal Palace,DRAW,2,2,2.64,3.45,2.34,...,0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0
3,2004,Fulham vs Norwich,Fulham,Norwich,HOME_TEAM,6,0,2.66,3.43,2.36,...,0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0
4,2004,Liverpool vs Aston Villa,Liverpool,Aston Villa,HOME_TEAM,2,1,1.63,3.41,5.33,...,0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0

In [221]:
# Odds spread and ratio
final_feature_df['odds_spread'] = final_feature_df['h_odd'] - final_feature_df['a_odd']
final_feature_df['odds_ratio'] = final_feature_df['h_odd'] / final_feature_df['a_odd']

# Implied probabilities
final_feature_df['h_implied_prob'] = 1 / final_feature_df['h_odd']
final_feature_df['d_implied_prob'] = 1 / final_feature_df['d_odd']
final_feature_df['a_implied_prob'] = 1 / final_feature_df['a_odd']

In [222]:
# First, we assume h_match_points and a_match_points are already created.

# Win = 3 points, Draw = 1 point
final_feature_df['ht_recent_win_rate'] = final_feature_df['ht_l_points'] / (5 * 3)
final_feature_df['at_recent_win_rate'] = final_feature_df['at_l_points'] / (5 * 3)

# Clip between 0 and 1 just in case
final_feature_df['ht_recent_win_rate'] = final_feature_df['ht_recent_win_rate'].clip(0, 1)
final_feature_df['at_recent_win_rate'] = final_feature_df['at_recent_win_rate'].clip(0, 1)

In [223]:
# Goal difference = goals scored - goals conceded
final_feature_df['ht_recent_goal_diff'] = final_feature_df['ht_l_goals'] - final_feature_df['ht_l_goals_sf']
final_feature_df['at_recent_goal_diff'] = final_feature_df['at_l_goals'] - final_feature_df['at_l_goals_sf']
final_feature_df[['ht_recent_goal_diff', 'at_recent_goal_diff']].head()

   ht_recent_goal_diff  at_recent_goal_diff
0                    0                    0
1                    0                    0
2                    0                    0
3                    0                    0
4                    0                    0

In [224]:
final_feature_df.to_csv('final_feature_df.csv')

In [225]:
outcome_counts = final_feature_df['winner'].value_counts()

# Calculate percentages
outcome_percentages = (outcome_counts / outcome_counts.sum()) * 100

outcome_percentages

winner
HOME_TEAM    45.722602
AWAY_TEAM    29.865857
DRAW         24.411541
Name: count, dtype: float64

From above we can interpret that it would be more difficult to predict a draw than to predict a win from one of the two teams, since about 75% of the dataset contains matches that one of the two teams had the victory.

In [226]:
# Create binary outcome columns
final_feature_df['winner_h'] = (final_feature_df['winner'] == 'HOME_TEAM').astype(int)
final_feature_df['winner_a'] = (final_feature_df['winner'] == 'AWAY_TEAM').astype(int)
final_feature_df['winner_d'] = (final_feature_df['winner'] == 'DRAW').astype(int)

# Prepare the features DataFrame for correlation
# Drop target labels and match result info
feature_cols_to_drop = [
    'winner', 'winner_h', 'winner_a', 'winner_d',
    'home_score', 'away_score', 'match_name', 'home_team', 'away_team', 'season'
]

feature_df_for_corr = final_feature_df.drop(columns=feature_cols_to_drop)

# Correlation matrix
corr_matrix = pd.concat([feature_df_for_corr, final_feature_df[['winner_h', 'winner_a', 'winner_d']]], axis=1).corr()

# Find top 5 correlated real features for each outcome
corr_with_winner_h = corr_matrix['winner_h'].drop(labels=['winner_h', 'winner_a', 'winner_d']).abs().sort_values(ascending=False).head(5)
corr_with_winner_a = corr_matrix['winner_a'].drop(labels=['winner_h', 'winner_a', 'winner_d']).abs().sort_values(ascending=False).head(5)
corr_with_winner_d = corr_matrix['winner_d'].drop(labels=['winner_h', 'winner_a', 'winner_d']).abs().sort_values(ascending=False).head(5)

# Convert into mini-DataFrames for clean display
top5_h = corr_with_winner_h.reset_index()
top5_a = corr_with_winner_a.reset_index()
top5_d = corr_with_winner_d.reset_index()

# Display each separately
display(top5_h)
display(top5_a)
display(top5_d)

         index  winner_h
0  odds_spread  0.281004
1        a_odd  0.226705
2   odds_ratio  0.222807
3   ht_ls_rank  0.208034
4        h_odd  0.202873

         index  winner_a
0   odds_ratio  0.271593
1  odds_spread  0.270333
2        h_odd  0.235333
3        a_odd  0.198640
4   at_ls_rank  0.196706

                 index  winner_d
0                a_odd  0.051274
1  ht_recent_goal_diff  0.043597
2                d_odd  0.041085
3          odds_spread  0.037861
4           ht_ls_rank  0.033520

In the picture above, it's possible to see the highest 5 features in correlation with each class and each class in a separate dataframe. We can interpret these positive correlations by assuming that if a variable goes up, so does the chance of the class positively correlated to it happen.